body {
    font-weight: 600;
    color: white;
    background-color:black !important;
  }

  
.glow-on-hover-nav {

  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover-nav:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-nav:hover:before {
  opacity: 1;
}

.glow-on-hover-nav:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.container-fluid{
    background-color:black;
    text-align: center;
}
.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
  }
  
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  /*everything below here is just setting up the page, so dont worry about it */
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }

  
  nav {
    background: none !important;
    text-transform: uppercase;

  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  nav li a {
    transition: .5s color ease-in-out;
  }
  
  .page-title {
    opacity: .75 !important;
  }

  .parallax-reading {
    min-height: 300px;
    background: transparent;
    background-position: right;
    
}

.read_content{
  color:white;
  font-family: "Lucida Console";
  font-size: 3vw;
  text-align: left;
  padding-top:18vh;
  padding-left:15vh;
  z-index: 2;
  position:relative;
}

 /* ===============READING SECTION================== */
  /* ======================================== */
  .parallax-reading {
    min-height: 300px;
    background: transparent;
    background-position: right;
    
}
.read_content{
    color:white;
    font-family: "Lucida Console";
    font-size: 40px;
    text-align: left;
    padding-top:18vh;
    padding-left:15vh;
    z-index: 2;
    position:relative;
}

@media only screen and (max-width: 700px) {
  .read_content {
    font-size: 30px;
    padding-top:16vh;
    padding-left: 2px;
  }
}
.article_cards{
  padding-top:100px;
}

.card {
  
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  height: 450px;
  width:45vh;
  border-radius: 25px;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
  background-color:black;
}


.card > .card-inner {
  padding:10px;
}
.card .header h2 {
  font-size: 23px;
  padding-top: 10px;
  margin-bottom: 0px;
  margin-top:0px;
}
#remove_under{
  text-decoration: none
}
.card .header .series{
  color: #3fff00;
  font-size: 15px;
  margin-bottom: 1px;
  margin-top:10px;
}
.card .header {
  margin-bottom:15px;
}
.card img {
  width:100%;
  }
.card .image{
  min-height: 150px;
}
.card .content{
  color:rgb(190, 189, 189);
}


.glow-on-hover {

  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
