body {
    font-weight: 600;
    color: white;
    background-color:black !important;
  }


.container-fluid{
    background-color:black;
    text-align: center;
}
.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
  }
  
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(63, 255, 0, 1) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(63, 255, 0, 1) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  /*everything below here is just setting up the page, so dont worry about it */
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }

  
  nav {
    background: none !important;
    text-transform: uppercase;

  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  nav li a {
    transition: .5s color ease-in-out;
  }
  
  .page-title {
    opacity: .75 !important;
  }

  /* ======================================== */
  /* =============PAGEINTRO================== */

.parallax-intro {
    min-height: 590px;
    background: transparent;
    background-position: right;
    
}
.page_intro_content{
    color:white;
    text-align: center;
    z-index: 2;
    position:relative;
}
.css-typing{
    padding-top:28vh;
}
.css-typing p {
    border-right: .15em solid #20C20E;
    font-family: "Lucida Console";
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin:auto;
  
  }
  .css-typing .first_p {
    width: 7.3em;
    font-size: 3vw;
    -webkit-animation: type 1.4s steps(40, end);
    animation: type 1.4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing .second_p {
    width: 11.5em;
    font-size:4vw;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }



  
  /* ======================================== */
  /* ======================================== */


  /* ==========ABOUT ME========= */

  #about{
    padding-top: 98px;
    padding-bottom: 101px;
}

#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
    
    
}

#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
 
}

.fa-play{
    font-size: 100px;
    
}


#about .p-first{
    margin-bottom: 30px;
}


#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    
}


#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
    
}

#about .about-link{
    padding-left: 0px;
}

#about .about-link li{
    display: inline-block;
}

#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #3fff00;
    margin-right: 10px;
    font-size: 22px;
    color: white;
    transition: all .3s;
    
}


#about .about-link li a i:hover{
    color: #222222;
    background: #3fff00;
    border-color: #3fff00;
    
}


#about .about-img{
    position: relative;
    
}

#about .about-img{
    position: relative;
    
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
    
}

.color-3{
    color: white;
}


.text-white{
    color: white;
}

.about-right{
    padding-top:40px;
}
.about-right p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.btn-success{
    border-radius: 0;
    padding: 10px 20px;
    
}

  /* ======================================== */
  /* ======================================== */