body {
    font-weight: 600;
    color: white;
    background-color:black !important;
  }
  #scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3fff00;
    text-indent:-9999px;
    display:none;
    z-index: 5;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:black;
}
#scroll:hover {
    background-color:white;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.container-fluid{
    background-color:black;
    text-align: center;
}
.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
  }
  
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
 
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  
  nav {
    background: none !important;
    text-transform: uppercase;
  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  nav li a {
    transition: .5s color ease-in-out;
  }
  
  .page-title {
    opacity: .75 !important;
  }

  /* ======================================== */
  /* =============PAGEINTRO================== */

.parallax-intro {
    min-height: 590px;
    background: transparent;
    background-position: right;
    
}
.page_intro_content{
    color:white;
    text-align: center;
    z-index: 2;
    position:relative;
}
.css-typing{
    padding-top:28vh;
}
.css-typing p {
    border-right: .15em solid #20C20E;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin:auto;
  
  }
  .css-typing .first_p {
    width: 7.3em;
    font-size: 3vw;
    -webkit-animation: type 1.4s steps(40, end);
    animation: type 1.4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
 
  
  .css-typing .second_p {
    width: 11.5em;
    font-size:4vw;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @media (max-width: 768px) {
    .css-typing .first_p {
      font-size: 28px;
    }
    .css-typing .second_p{
      font-size: 25px;
    }
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #20C20E;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  .arrow{
    position: absolute;
    top: 150%;
    left: 50%;
    
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #20C20E;
    border-right: 5px solid #20C20E;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


  
  /* ======================================== */
  /* ======================================== */


  /* ===============ABOUT ME================== */
  /* ======================================== */

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}
#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
}
#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
}
.fa-play{
    font-size: 100px;
}
#about .p-first{
    margin-bottom: 30px;
}
#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
}
#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
}
#about .about-link{
    padding-left: 0px;
}
#about .about-link li{
    display: inline-block;
}
#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #3fff00;
    margin-right: 10px;
    font-size: 22px;
    color: white;
    transition: all .3s;
}
#about .about-link li a i:hover{
    color: #222222;
    background: #3fff00;
    border-color: #3fff00;
}
#about .about-img{
    position: relative;
    
}
#about .about-img{
    position: relative;
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
}
.color-3{
    color: white;
}
.text-white{
    color: white;
}
.about-right{
    padding-top:40px;
}
.about-right p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.btn-success{
    border-radius: 0;
    padding: 10px 20px;
}
.about_me{
  padding-bottom: 40px;
}


  /* ======================================== */
  /* ======================================== */

 /* ===============READING SECTION================== */
  /* ======================================== */
.parallax-reading {
    min-height: 300px;
    background: transparent;
    background-position: right;
    
}
.read_content{
    color:white;
    font-family: "Lucida Console";
    font-size: 40px;
    text-align: left;
    padding-top:18vh;
    padding-left:15vh;
    z-index: 2;
    position:relative;
}

@media only screen and (max-width: 700px) {
  .read_content {
    font-size: 30px;
    padding-top:16vh;
    padding-left: 2px;
  }
}
.article_cards{
  padding-top:100px;
}

.card {
  
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  height: 450px;
  width:45vh;
  border-radius: 25px;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
  background-color:black;
}


.card > .card-inner {
  padding:10px;
}
.card .header h2 {
  font-size: 23px;
  padding-top: 10px;
  margin-bottom: 0px;
  margin-top:0px;
}
#remove_under{
  text-decoration: none
}
.card .header .series{
  color: #3fff00;
  font-size: 15px;
  margin-bottom: 1px;
  margin-top:10px;
}
.card .header {
  margin-bottom:15px;
}
.card img {
  width:100%;
  }
.card .image{
  min-height: 150px;
  
}

.card .read-more a {
  
  color: #40ff00b9;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 1px;
  margin-left: 68%;
  position: absolute;
  bottom:20px;
}
.card .read-more a:hover {
  color:#3fff00;
  border-bottom: 2px solid #3fff00;
  
  
}
.card .read-more a:after {
  
  content: "\f178";
  font-family: FontAwesome;
  font-size: 25px;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}
.card .read-more a:hover:after {
  margin-left: -1px;
  opacity: 1;
}

.image img{
  border-radius:7px;
}
.card .content{
  color:rgb(190, 189, 189);
}


.glow-on-hover {

  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: default;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


  /* ======================================== */
  /* ======================================== */

 /* ===============PROJECT CONTENT================== */
  /* ======================================== */
/*PEN STYLES*/
.project_section {
  box-sizing: border-box;
  margin: 2rem;
  padding-top:30px;
}

.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background:#111;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  
}


.blog-card a {
  color: inherit;
}


.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2) ;
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 400px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.blog-card .description {
  padding: 1rem;
  background: #1b1b1b;
  position: relative;
  z-index: 1;
  height:250px;
  
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 2.5rem;
  color:white;
}
.blog-card .description h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
  color:#BEBDBD;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: rgb(27, 27, 27);
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}